<%- include ("../../partials/header") %>

    <%- include ("../../partials/navbar") %>
    <!-- Criando o formulário de categorias -->
    <div class="container">
        <br>
        <div class="card">
    
            <div class="card-header">
                <h2>Cadastro de Categoria</h2>
            </div>
            <div class="card-body">
                    <!--Vou ter os dados necessario para criar uma categoria-->
                <form action="/categories/save" method="POST">
                    <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria"> <br>
                    <button  type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
<%- include ("../../partials/footer") %>

<!-- Class do boostrap para deixar o botão bonito é form-control no input  -->
<!--
    Dica colocar o formulário dentro do card
    Crio uma class card-header aonde vai ficar armazenado o h2 Cadastro de categoria
    vou criar card-body onde vou colocar

-->