<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a  class="navbar-brand" href="/"> <!-- Classe vai alinha nav bar a esquerda-->    
        <!-- vai ser a logo que vai direcionar para página principal-->
        Guia Express   
    </a>

    <!-- Adicionando um menu  com ul, classe de alinhamento mr-auto ela vai adicionar uma margin total a difereita -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/admin/categories">Categorias</a>
        </li>
         <li class="nav-item">
            <a  class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
    
  </nav>
  

