<nav class="navbar navbar-dark bg-dark">
    <a  class="navbar-brand" href="/"> <!-- Classe vai alinha nav bar a esquerda-->    
        <!-- vai ser a logo que vai direcionar para página principal-->
        Guia Express   
    </a>
    
  </nav>
  

